[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #888;
}

.list-item-container {
    position: relative;
    display: flex;
}

.list-item {
    cursor: text;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.del-button {
    display: flex;
}

.blocky {
    display: flex;
}