
.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input.form-control {
  margin-right: 5px;
}

.alert-result {
  margin-left: 0;
}

.owner-item {
  display: flex;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFF;
}

.svg-icon circle {
  stroke: #FFF;
  stroke-width: 1;
}
.navbar-brand  svg {
  margin: -6px 8px 0 0;
}
.nav-link .svg-icon {
  fill: rgba(0,0,0,.5);
  stroke: rgba(0,0,0,.5);
}

.badge .svg-icon {
  margin: auto 0 1px 1px;
}
.badge-warning  .svg-icon {
  fill: #000;
  stroke: #000;
}

.badge-info  .svg-icon {
  fill: #FFF;
  stroke: #FFF;
}

.card {
  min-width: 280px;
}

.card-header {
  padding: .75rem .75rem;
}
